# Managed by Composer
/vendor/

# Composer PHAR
/composer.phar

# Embedded web-server pid file
/.web-server-pid

# PhpStorm
/.idea/

# used in CI coverage testing
/clover.xml

# local phpunit configurations
/phpunit.xml